body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #007BFF;
  font-size: 24px;
}

main {
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

.input-group {
  margin-bottom: 15px;
}

input,
select {
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}

.centered {
  text-align: center;
}

#qr-code {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#download-link {
  display: none;
  margin-top: 20px;
}

.detail-section {
  margin-bottom: 10px;
}

.detail-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.detail-section p {
  margin: 0;
}
